{{#unless skipGreeting}}
    <p>Hey there,<br><br>The monitor for sitemap found changes:</p>
{{/unless}}
<p>
{{#each sitemaps}}
    <b>Sitemap - {{this.url}}:</b><br>
    <table style="text-align: left;font-family: arial, sans-serif;border-collapse: collapse;width: 100%;">
        <tr>
            <th style="border: 1px solid #dddddd;">Change</th>
            <th style="border: 1px solid #dddddd;">URL</th>
            <th style="border: 1px solid #dddddd;">Previously Crawled</th>
            <th style="border: 1px solid #dddddd;">Crawled</th>
            <th style="border: 1px solid #dddddd;">Last Modification</th>
        </tr>
        {{#each this.newUrls}}
            <tr>
                <td style="border: 1px solid #dddddd;">NEW</td>
                <td style="border: 1px solid #dddddd;">{{this}}</td>
                <td style="border: 1px solid #dddddd;">{{printDate ../../previouslyCrawledAt}}</td>
                <td style="border: 1px solid #dddddd;">{{printDate ../../crawledAt}}</td>
                <td style="border: 1px solid #dddddd;">{{printChangedDate ../../changeDetails ../../crawledAt this false}}</td>
            </tr>
        {{/each}}
        {{#each this.removedUrls}}
            <tr style="border: 1px solid #dddddd;">
                <td style="border: 1px solid #dddddd;">REMOVED</td>
                <td style="border: 1px solid #dddddd;">{{this}}</td>
                <td style="border: 1px solid #dddddd;">{{printDate ../../previouslyCrawledAt}}</td>
                <td style="border: 1px solid #dddddd;">{{printDate ../../crawledAt}}</td>
                <td style="border: 1px solid #dddddd;">{{printChangedDate ../../changeDetails ../../crawledAt this false}}</td>
            </tr>
        {{/each}}
        {{#each this.lastModifiedChangedUrls}}
            <tr>
                <td style="border: 1px solid #dddddd;">CHANGED</td>
                <td style="border: 1px solid #dddddd;">{{this}}</td>
                <td style="border: 1px solid #dddddd;">{{printDate ../../previouslyCrawledAt}}</td>
                <td style="border: 1px solid #dddddd;">{{printDate ../../crawledAt}}</td>
                <td style="border: 1px solid #dddddd;">{{printChangedDate ../../changeDetails ../../crawledAt this false}}</td>
            </tr>
        {{/each}}
    </table>
    <br>
{{/each}}
</p>
