<p>Hey there,<br><br>The monitor for sitemap found changes:</p>
<p>
{{#each sitemaps}}
    <b>Sitemap - {{this.url}}:</b><br>
    <ul class="list">
        {{#each this.newUrls}}
            <li>NEW: {{this}} ({{printChangedDate ../../changeDetails ../../crawledAt this}})</li>
        {{/each}}
        {{#each this.removedUrls}}
            <li>REMOVED: {{this}} ({{printChangedDate ../changeDetails ../../crawledAt this}})</li>
        {{/each}}
        {{#each this.lastModifiedChangedUrls}}
            <li>CHANGED: {{this}} ({{printChangedDate ../changeDetails ../../crawledAt this true}})</li>
        {{/each}}
    </ul>
    <br>
{{/each}}
</p>
