<p>
{{#each sitemaps}}
    <ul class="list">
        {{#each this.newUrls}}
            <li>NEW | {{this}} | {{printDate ../../crawledAt}} | {{printChangedDate ../../changeDetails ../../crawledAt this}} | {{printPrevChangedDate ../../changeDetails ../../crawledAt this}}</li>
        {{/each}}
        {{#each this.removedUrls}}
            <li>REMOVED | {{this}} | {{printDate ../../crawledAt}} | {{printChangedDate ../../changeDetails ../../crawledAt this}} | {{printPrevChangedDate ../../changeDetails ../../crawledAt this}}</li>
        {{/each}}
        {{#each this.lastModifiedChangedUrls}}
            <li>CHANGED | {{this}} | {{printDate ../../crawledAt}} | {{printChangedDate ../../changeDetails ../../crawledAt this}} | {{printPrevChangedDate ../../changeDetails ../../crawledAt this}}</li>
        {{/each}}
    </ul>
{{/each}}
</p>
